{% extends 'base.html.twig' %}

{% block title %} Mon compte - Footix{% endblock %}

{% block content %}

    <h1>Bienvenue <strong>{{ app.user.firstname }}</strong> dans votre espace personnel :-)</h1>

    <div class="account accountHeight mt-5 ">
        <button class="btn btnColor2 btnMargin"><a href="{{ path('account_password') }}"> Modifier mon mot de passe</a></button><br>
        <button class="btn btnColor2 btnMargin"><a href="{{ path('account_address') }}" > Gerer mes adresses</a></button><br><hr>
        <button class="btn btnColor btnMargin"><a href="{{ path('account_order') }}"> Mes commandes</a></button><br><hr>

        {% if is_granted ('ROLE_ADMIN') %}
            <button class="btn btnColor2 mt-2"> <a href="/admin"> Pour rejoindre l'espace Administrateur. Cliquez ici.</a></button>
        {% endif %}
    </div>
    
{% endblock %}
