{% extends 'base.html.twig' %}

{% block title %}Footix.fr - Mon compte{% endblock %}

{% block content %}

    <h2>Bienvenue {{ app.user.firstname }} dans votre espace personnel.</h2>

    <div class="account accountHeight mt-5 ">
        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>
        <a href="{{ path('account_address') }}" >Gerer mes adresses</a><br>
        <a href="{{ path('account_order') }}">Mes commandes</a>
    </div>
    
{% endblock %}
