{% extends 'base.html.twig' %}

{% block title %} Modifier mon mot de passe - Footix{% endblock %}

{% block content %}

    <h1>Ici vous pouvez modifier votre mot de passe : </h1><br>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

    {{ form(form) }}

    <div class="account">
        <button class="btn btnColor mt-2"> <a href="{{ path('account') }}">Retourner dans votre espace personnel </a></button>
    </div>
    
{% endblock %}