{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe - footix.fr{% endblock %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h4>Demande de réinitialisation du mot de passe.</h4>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               Indiquez l'adresse mail associé au compte dont vous souhaitez réinitialiser le mot de passe.
            </small>
        </div>

        <button class="btn btnColor">Réinitialiser mon mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
