{% extends 'base.html.twig' %}

{% block content %}

    <h1>Inscrivez-vous ici. Ca ne prend qu'une minute.</h1>

    {% if notification %}

        <div class="alert alert-info">
            {{ notification }}
        </div>
        
        <hr>

    {% endif %}

    <div class="container">

    {{ form(form)}}

    </div>

{% endblock %}