{% extends 'base.html.twig' %}

{% block content %}

    <h3>Pas encore de compte ? Pour nous rejoindre c'est ici,</h3>
    <h3 class="mb-5">ça ne prend qu'une minute.</h3>

    {% if notification %}

        <div class="alert alert-info">{{ notification }}</div>
        <hr>

    {% endif %}

    <div class="container">

    {{ form(form)}}

    </div>

{% endblock %}