{% extends 'base.html.twig' %}

{% block title %}404 error -- shop.footix.site !{% endblock %}

{% block content %}

<button class="btn btnColor2 btnMargin mainBtn"><a href="{{ path('home') }}">Erreur 404 - Retourner sur le site</a></button>

{% endblock %}
